.slide 
	width: 600px
	height: 200px
	overflow: hidden

.slide:after 
	content: ""
	display: block
	clear: both

.slide-list 
	position: relative
	width: 100%
	height: 200px

.slide-list > .slide-list__image 
	position: absolute
	top: 0
	left: 0

.p-slideArea

	.p-slideGallery
		position: relative
		width: 960px
		height: 300px
		padding-top: 40px
		background: #000

		.p-slideFrame
			position: relative
			height: 260px
			overflow: hidden

			.p-slideAnimation
				position: absolute
				top: 0
				left: 70px
				width: 2520px
				margin: 0

				.p-slideAnimation__list
					float: left
					width: 820px
					margin-right: 20px

					&:last-child 
						margin-right: 0
					a
					
					background: none
				&:after
					content: ""
					display: table
					clear: both

		.p-slideNav
			text-align: center
			margin-top: 5px
			.p-slideNav__listBtn
				display: inline-block
				margin-left: 10px

		.p-slidePrev
			position: absolute
			top: 0
			left: 0
			margin: 0
			cursor: pointer

		.p-slideNext
			position: absolute
			top: 0
			right: 0
			margin: 0
			cursor: pointer

//.slidePattern2 
//.	width: 600px
//.	height: 200px
//.	overflow: hidden

//..slidePattern2:after 
//.	content: ""
//.	display: block
//.	clear: both

//..slidePattern2-list 
//.	position: relative
//.	width: 100%
//.	height: 200px

//..slidePattern2-list > .slidePattern2-list__image 
//.	position: absolute
//.	top: 0
//.	left: 0