/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
ul {
  padding: 0;
}
ul li {
  list-style-type: none;
}

.ad-list {
  display: none;
}

.slide {
  width: 600px;
  height: 200px;
  overflow: hidden;
}

.slide:after {
  content: "";
  display: block;
  clear: both;
}

.slide-list {
  position: relative;
  width: 100%;
  height: 200px;
}

.slide-list > .slide-list__image {
  position: absolute;
  top: 0;
  left: 0;
}

.p-slideArea .p-slideGallery {
  position: relative;
  width: 960px;
  height: 300px;
  padding-top: 40px;
  background: #000;
}
.p-slideArea .p-slideGallery .p-slideFrame {
  position: relative;
  height: 260px;
  overflow: hidden;
}
.p-slideArea .p-slideGallery .p-slideFrame .p-slideAnimation {
  position: absolute;
  top: 0;
  left: 70px;
  width: 2520px;
  margin: 0;
}
.p-slideArea .p-slideGallery .p-slideFrame .p-slideAnimation .p-slideAnimation__list {
  float: left;
  width: 820px;
  margin-right: 20px;
  background: none;
}
.p-slideArea .p-slideGallery .p-slideFrame .p-slideAnimation .p-slideAnimation__list:last-child {
  margin-right: 0;
}
.p-slideArea .p-slideGallery .p-slideFrame .p-slideAnimation:after {
  content: "";
  display: table;
  clear: both;
}
.p-slideArea .p-slideGallery .p-slideNav {
  text-align: center;
  margin-top: 5px;
}
.p-slideArea .p-slideGallery .p-slideNav .p-slideNav__listBtn {
  display: inline-block;
  padding-left: 10px;
}
.p-slideArea .p-slideGallery .p-slidePrev {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  cursor: pointer;
}
.p-slideArea .p-slideGallery .p-slideNext {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  cursor: pointer;
}

.thumbnailsSlide {
  margin: 10px auto;
  text-align: center;
}

.thumbnailList {
  width: 125px;
  height: 83px;
  opacity: 0.5;
  cursor: pointer;
}
.thumbnailList + .thumbnailList {
  margin-left: 4px;
}

.current {
  opacity: 1;
}

.c-icon {
  display: block;
}

.c-iconArrowLeft {
  background-image: url(../../../dist/img/sprite.png);
  background-position: -75px 0px;
  width: 30px;
  height: 30px;
  margin: 140px 0 0 20px;
}
.c-iconArrowLeft:hover {
  background-image: url(../../../dist/img/sprite.png);
  background-position: -75px -35px;
  width: 30px;
  height: 30px;
}

.c-iconArrowRight {
  background-image: url(../../../dist/img/sprite.png);
  background-position: -75px -70px;
  width: 30px;
  height: 30px;
  margin: 140px 20px 0;
}
.c-iconArrowRight:hover {
  background-image: url(../../../dist/img/sprite.png);
  background-position: -75px -105px;
  width: 30px;
  height: 30px;
}

.c-iconCircle {
  background-image: url(../../../dist/img/sprite.png);
  background-position: -75px -140px;
  width: 10px;
  height: 10px;
}
.c-iconCircle:hover {
  background-image: url(../../../dist/img/sprite.png);
  background-position: -90px -140px;
  width: 10px;
  height: 10px;
}

.c-iconBg {
  background-image: url(../../../dist/img/sprite.png);
  background-position: 0px 0px;
  width: 70px;
  height: 300px;
  width: 70px;
  height: 340px;
}
