.lyFiveTime {
  background-color: #e0e0e0;
  text-align: center;
  font-size: 16px;
}

.f-result {
  margin: 60px auto;
  font-weight: bold;
  font-size: 32px;
  color: #00aaff;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.f-btn {
  width: 200px;
  margin: 0 auto;
  padding: 7px;
  background-color: #00aaff;
  border-radius: 5px;
  box-shadow: 0 4px 0 #0088cc;
  color: #fff;
  cursor: pointer;
}
.f-btn:hover {
  opacity: 0.8;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
