.c-btn
	display: inline-block
	width: 100px
	padding: 7px
	margin-left: 10px
	border-radius: 5px
	cursor: pointer
	&.c-btn__timerBtn
		box-shadow: 0 4px 0 #0088cc
		color: #fff
		background-color: #00aaff
		&:nth-child(2)
			margin-left: 0