.c-slideNav__listBtn
	display: inline-block
	margin-left: 10px

.c-slidePrev
	position: absolute
	top: 0
	left: 0
	margin: 0
	cursor: pointer

.c-slideNext
	position: absolute
	top: 0
	right: 0
	margin: 0
	cursor: pointer

.c-AdBtn
	text-indent: 100%
	white-space: nowrap
	overflow: hidden

.c-sectionPageTop
	cursor: pointer
	&:hover
		color: #00BBDD

//モーダルボタン
.c-btnModal
	display: inline-block
	font-size: 12px
	color: #999
	cursor: pointer
	&:hover
		@extend %hoverColor
	&.c-btnModalOpen
		padding: 10px
		border: solid 2px #0BD
		border-radius: 5px
		&:hover
			color: #fff
			background: #0BD
	&.c-btnModalLink
		@extend .c-btnModalOpen
		text-decoration: none
		border: solid 2px #ccc
		&:hover
			color: #fff
			background: #ccc