
.c-icon
	display: block

.c-iconArrowLeft
	+sprite($arrow-left)
	margin: 140px 0 0 20px
	&:hover
		+sprite($arrow-left-h)

.c-iconArrowRight
	+sprite($arrow-right)
	margin: 140px 20px 0
	&:hover
		+sprite($arrow-right-h)

.c-iconCircle
	+sprite($circle)
	&:hover
		opacity: 0
.c-iconBgCircle
	+sprite($circle-h)

.c-iconBg
	+sprite($bg)
	width: 70px
	height: 340px

.cur 
	>.c-icon
		opacity: 0

.c-iconSubNav--aboutUs
	+sprite($sub-nav01)

.c-iconSubNav--cafe
	+sprite($sub-nav02)

.c-iconSubNav--bread
	+sprite($sub-nav03)

.c-iconSubNav--history
	+sprite($sub-nav04)

.c-iconFish
	display: inline-block
	padding-left: 10px
	+sprite($fish)

.c-iconPageTop
	+sprite($page-top)
	display: block
	cursor: pointer



