@charset "utf-8";

.lyOmikuji {
	background: #e0e0e0;
	text-align: center;
	font-size: 16px;
	color: #fff;
}

.result {
	width: 180px;
	height: 180px;
	margin: 30px auto;
	background-color: #f44336;
	border-radius: 50%;
	line-height: 180px;
	font-size: 48px;
	font-weight: bold;
	box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.btn {
	width: 200px;
	margin: 0 auto;
	padding: 5px;
	background-color: #00aaff;
	border-radius: 5px;
	box-shadow: 0 4px 0 #0088cc;
	&:hover{
		opacity: 0.8;
	}
}

.pushed {
	@extend .btn;
	margin-top: 36px;
	box-shadow: 0 2px 0 #0088cc;
}