/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-left-name: 'arrowLeft';
$arrow-left-x: 458px;
$arrow-left-y: 165px;
$arrow-left-offset-x: -458px;
$arrow-left-offset-y: -165px;
$arrow-left-width: 30px;
$arrow-left-height: 30px;
$arrow-left-total-width: 520px;
$arrow-left-total-height: 300px;
$arrow-left-image: '../../../dist/img/sprite.png';
$arrow-left: (458px, 165px, -458px, -165px, 30px, 30px, 520px, 300px, '../../../dist/img/sprite.png', 'arrowLeft', );
$arrow-left-h-name: 'arrowLeft_h';
$arrow-left-h-x: 353px;
$arrow-left-h-y: 165px;
$arrow-left-h-offset-x: -353px;
$arrow-left-h-offset-y: -165px;
$arrow-left-h-width: 30px;
$arrow-left-h-height: 30px;
$arrow-left-h-total-width: 520px;
$arrow-left-h-total-height: 300px;
$arrow-left-h-image: '../../../dist/img/sprite.png';
$arrow-left-h: (353px, 165px, -353px, -165px, 30px, 30px, 520px, 300px, '../../../dist/img/sprite.png', 'arrowLeft_h', );
$arrow-right-name: 'arrowRight';
$arrow-right-x: 423px;
$arrow-right-y: 165px;
$arrow-right-offset-x: -423px;
$arrow-right-offset-y: -165px;
$arrow-right-width: 30px;
$arrow-right-height: 30px;
$arrow-right-total-width: 520px;
$arrow-right-total-height: 300px;
$arrow-right-image: '../../../dist/img/sprite.png';
$arrow-right: (423px, 165px, -423px, -165px, 30px, 30px, 520px, 300px, '../../../dist/img/sprite.png', 'arrowRight', );
$arrow-right-h-name: 'arrowRight_h';
$arrow-right-h-x: 388px;
$arrow-right-h-y: 165px;
$arrow-right-h-offset-x: -388px;
$arrow-right-h-offset-y: -165px;
$arrow-right-h-width: 30px;
$arrow-right-h-height: 30px;
$arrow-right-h-total-width: 520px;
$arrow-right-h-total-height: 300px;
$arrow-right-h-image: '../../../dist/img/sprite.png';
$arrow-right-h: (388px, 165px, -388px, -165px, 30px, 30px, 520px, 300px, '../../../dist/img/sprite.png', 'arrowRight_h', );
$bg-name: 'bg';
$bg-x: 0px;
$bg-y: 0px;
$bg-offset-x: 0px;
$bg-offset-y: 0px;
$bg-width: 70px;
$bg-height: 300px;
$bg-total-width: 520px;
$bg-total-height: 300px;
$bg-image: '../../../dist/img/sprite.png';
$bg: (0px, 0px, 0px, 0px, 70px, 300px, 520px, 300px, '../../../dist/img/sprite.png', 'bg', );
$circle-name: 'circle';
$circle-x: 508px;
$circle-y: 179px;
$circle-offset-x: -508px;
$circle-offset-y: -179px;
$circle-width: 10px;
$circle-height: 10px;
$circle-total-width: 520px;
$circle-total-height: 300px;
$circle-image: '../../../dist/img/sprite.png';
$circle: (508px, 179px, -508px, -179px, 10px, 10px, 520px, 300px, '../../../dist/img/sprite.png', 'circle', );
$circle-h-name: 'circle_h';
$circle-h-x: 493px;
$circle-h-y: 179px;
$circle-h-offset-x: -493px;
$circle-h-offset-y: -179px;
$circle-h-width: 10px;
$circle-h-height: 10px;
$circle-h-total-width: 520px;
$circle-h-total-height: 300px;
$circle-h-image: '../../../dist/img/sprite.png';
$circle-h: (493px, 179px, -493px, -179px, 10px, 10px, 520px, 300px, '../../../dist/img/sprite.png', 'circle_h', );
$fish-name: 'fish';
$fish-x: 493px;
$fish-y: 165px;
$fish-offset-x: -493px;
$fish-offset-y: -165px;
$fish-width: 15px;
$fish-height: 9px;
$fish-total-width: 520px;
$fish-total-height: 300px;
$fish-image: '../../../dist/img/sprite.png';
$fish: (493px, 165px, -493px, -165px, 15px, 9px, 520px, 300px, '../../../dist/img/sprite.png', 'fish', );
$page-top-name: 'pageTop';
$page-top-x: 300px;
$page-top-y: 165px;
$page-top-offset-x: -300px;
$page-top-offset-y: -165px;
$page-top-width: 48px;
$page-top-height: 48px;
$page-top-total-width: 520px;
$page-top-total-height: 300px;
$page-top-image: '../../../dist/img/sprite.png';
$page-top: (300px, 165px, -300px, -165px, 48px, 48px, 520px, 300px, '../../../dist/img/sprite.png', 'pageTop', );
$sub-nav01-name: 'subNav01';
$sub-nav01-x: 300px;
$sub-nav01-y: 110px;
$sub-nav01-offset-x: -300px;
$sub-nav01-offset-y: -110px;
$sub-nav01-width: 220px;
$sub-nav01-height: 50px;
$sub-nav01-total-width: 520px;
$sub-nav01-total-height: 300px;
$sub-nav01-image: '../../../dist/img/sprite.png';
$sub-nav01: (300px, 110px, -300px, -110px, 220px, 50px, 520px, 300px, '../../../dist/img/sprite.png', 'subNav01', );
$sub-nav01-h-name: 'subNav01_h';
$sub-nav01-h-x: 300px;
$sub-nav01-h-y: 55px;
$sub-nav01-h-offset-x: -300px;
$sub-nav01-h-offset-y: -55px;
$sub-nav01-h-width: 220px;
$sub-nav01-h-height: 50px;
$sub-nav01-h-total-width: 520px;
$sub-nav01-h-total-height: 300px;
$sub-nav01-h-image: '../../../dist/img/sprite.png';
$sub-nav01-h: (300px, 55px, -300px, -55px, 220px, 50px, 520px, 300px, '../../../dist/img/sprite.png', 'subNav01_h', );
$sub-nav02-name: 'subNav02';
$sub-nav02-x: 300px;
$sub-nav02-y: 0px;
$sub-nav02-offset-x: -300px;
$sub-nav02-offset-y: 0px;
$sub-nav02-width: 220px;
$sub-nav02-height: 50px;
$sub-nav02-total-width: 520px;
$sub-nav02-total-height: 300px;
$sub-nav02-image: '../../../dist/img/sprite.png';
$sub-nav02: (300px, 0px, -300px, 0px, 220px, 50px, 520px, 300px, '../../../dist/img/sprite.png', 'subNav02', );
$sub-nav02-h-name: 'subNav02_h';
$sub-nav02-h-x: 75px;
$sub-nav02-h-y: 220px;
$sub-nav02-h-offset-x: -75px;
$sub-nav02-h-offset-y: -220px;
$sub-nav02-h-width: 220px;
$sub-nav02-h-height: 50px;
$sub-nav02-h-total-width: 520px;
$sub-nav02-h-total-height: 300px;
$sub-nav02-h-image: '../../../dist/img/sprite.png';
$sub-nav02-h: (75px, 220px, -75px, -220px, 220px, 50px, 520px, 300px, '../../../dist/img/sprite.png', 'subNav02_h', );
$sub-nav03-name: 'subNav03';
$sub-nav03-x: 75px;
$sub-nav03-y: 165px;
$sub-nav03-offset-x: -75px;
$sub-nav03-offset-y: -165px;
$sub-nav03-width: 220px;
$sub-nav03-height: 50px;
$sub-nav03-total-width: 520px;
$sub-nav03-total-height: 300px;
$sub-nav03-image: '../../../dist/img/sprite.png';
$sub-nav03: (75px, 165px, -75px, -165px, 220px, 50px, 520px, 300px, '../../../dist/img/sprite.png', 'subNav03', );
$sub-nav03-h-name: 'subNav03_h';
$sub-nav03-h-x: 75px;
$sub-nav03-h-y: 110px;
$sub-nav03-h-offset-x: -75px;
$sub-nav03-h-offset-y: -110px;
$sub-nav03-h-width: 220px;
$sub-nav03-h-height: 50px;
$sub-nav03-h-total-width: 520px;
$sub-nav03-h-total-height: 300px;
$sub-nav03-h-image: '../../../dist/img/sprite.png';
$sub-nav03-h: (75px, 110px, -75px, -110px, 220px, 50px, 520px, 300px, '../../../dist/img/sprite.png', 'subNav03_h', );
$sub-nav04-name: 'subNav04';
$sub-nav04-x: 75px;
$sub-nav04-y: 55px;
$sub-nav04-offset-x: -75px;
$sub-nav04-offset-y: -55px;
$sub-nav04-width: 220px;
$sub-nav04-height: 50px;
$sub-nav04-total-width: 520px;
$sub-nav04-total-height: 300px;
$sub-nav04-image: '../../../dist/img/sprite.png';
$sub-nav04: (75px, 55px, -75px, -55px, 220px, 50px, 520px, 300px, '../../../dist/img/sprite.png', 'subNav04', );
$sub-nav04-h-name: 'subNav04_h';
$sub-nav04-h-x: 75px;
$sub-nav04-h-y: 0px;
$sub-nav04-h-offset-x: -75px;
$sub-nav04-h-offset-y: 0px;
$sub-nav04-h-width: 220px;
$sub-nav04-h-height: 50px;
$sub-nav04-h-total-width: 520px;
$sub-nav04-h-total-height: 300px;
$sub-nav04-h-image: '../../../dist/img/sprite.png';
$sub-nav04-h: (75px, 0px, -75px, 0px, 220px, 50px, 520px, 300px, '../../../dist/img/sprite.png', 'subNav04_h', );
$spritesheet-width: 520px;
$spritesheet-height: 300px;
$spritesheet-image: '../../../dist/img/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-left-h, $arrow-right, $arrow-right-h, $bg, $circle, $circle-h, $fish, $page-top, $sub-nav01, $sub-nav01-h, $sub-nav02, $sub-nav02-h, $sub-nav03, $sub-nav03-h, $sub-nav04, $sub-nav04-h, );
$spritesheet: (520px, 300px, '../../../dist/img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
